/*
------------------------
Base App Styles
------------------------
*/
html
{
    min-height: 100%;
    position: relative;
}

body
{
    background: #fff;
    padding-bottom: 100px;
}


footer
{
   
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px; 
    background-color: $primary-color;
    color: $inverse-color;
    padding-top: 30px;
    padding-bottom: 30px;
 
}

a:hover
{
    text-decoration:none;
}

.page-header
{
    height:300px;
    background: url("http://www.grandfatherrv.com/wp-content/uploads/2014/09/fader5.jpg");
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    .header-panel
    {
        margin-top:2em;
    }
}

/*
------------------------
Navbar Styles
------------------------
*/
.navbar
{
    background-color: $primary-color;

    .navbar-brand, .nav>li>a
    {
        color:$inverse-color;
    }
    .nav>li>a:hover
    {
        color:$primary-color;
    }
    .nav .active
    {
        
        background-color: $inverse-color;
        a
        {
            color:$primary-color;
        }
    }
    .navbar-toggle
    {
        background-color: $inverse-color;
        .icon-bar
        {
            background-color:$primary-color;
        }
    }
    
    
}

/*
---------------------------------
BS Overwrites/Utility
----------------------------------
*/
.panel
{
    
    .panel-heading, .btn-default
    {
        background-color: $primary-color!important;
        color:$inverse-color!important;

    } 
}

.no-border
{
    border: none;
}
.theme-color
{
    color:$primary-color;
}

#site-notifications
{
    position:absolute;
    left:0;
    right:0;
    z-index:99;
    margin-top:2em;
}

/*
---------------------------------
Responsive
----------------------------------
*/
@media screen and(max-width: 768px)
{
    .navbar
    {
        .nav>li>a
        {
            text-align:center;
        }
    }

    #login-form
    {
        position:static;
        margin-top:2em;
    }
}